{% extends "./base.html" %}
{% load static %}
{% block title %}BookStore{% endblock %}
{% block content %}
<main>
  <div class="container">
    
    <!-- Welcome Message -->
    <div class="welcome-message my-4">
      <h3>Welcome to Our Store!</h3>
      <p>Dear Valued Customers,</p>
      <p>We hope this message finds you well! At Here, we are committed to providing you with the best shopping experience possible. Explore our wide range of products tailored just for you!</p>
      <p><strong>🌟 Stay Informed:</strong> For the latest updates on our stores, website, and customer support, <a href="#" class="text-decoration-underline">click here</a>. We appreciate your continued support and patience.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Popular</h1>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
            <div class="col">
              <div class="card border-0">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                <div class="card-body px-0">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none"
                      href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                  </p>
                  <div class="fw-bold">£{{ product.price }}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
